h1 {position:static;
	height:100px;
    width:100px;
	border: 4px solid #BC8F8F;
    margin: 80px 80px 80px 80px;
    font-family: sans-serif;}


div {
	display: inline-block;
	margin: 10px 80px 80px 80px;
    position
    height:100px;
    width:100px;
    border-radius:0%;
    border:2px #FFF68F;
    font-family: sans-serif;
    font-style:bold;
    background-color:#FFF68F;

}

